.DS_Store
guia_01/main
guia_01/*.o
guia_01/*.obj
guia_01/*.exe
guia_02/main
guia_02/*.o
guia_02/*.obj
guia_02/*.exe
guia_03/main
guia_03/*.o
guia_03/*.obj
guia_03/*.exe
guia_04/main
guia_04/*.o
guia_04/*.obj
guia_04/*.exe
guia_05/main
guia_05/*.o
guia_05/*.obj
guia_05/*.exe
guia_06_a/main
guia_06_a/*.o
guia_06_a/*.obj
guia_06_a/*.exe
guia_06_e/main
guia_06_e/*.o
guia_06_e/*.obj
guia_06_e/*.exe
boost/lib
.vscode
*.o
*.obj
*.exe
