.DS_Store
guia_01/main
guia_01/*.o
guia_01/*.obj
guia_02/main
guia_03/*.o
guia_03/*.obj
guia_04/main
guia_04/*.o
guia_04/*.obj
guia_05/main
guia_05/*.o
guia_05/*.obj
guia_06_a/main
guia_06_a/*.o
guia_06_a/*.obj
guia_06_e/main
guia_06_e/*.o
guia_06_e/*.obj
boost/lib
*.o
*.obj
